.ito-green{
    background-color: #61A72F;
}

.ito-font-small{font-size: 12px;}
.ito-font-12{font-size: 12px;}
.ito-font-14{font-size: 14px;}
.ito-font-16{font-size: 16px;}
.ito-font-18{font-size: 18px;}
.ito-font-20{font-size: 20px;}

.ito-rounded-25{
    border-radius: 25px !important;
}